<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{{title}}</h5>
  </div>
  <div class="ibox-content">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Offers</th>
          <th>Influencers</th>
          <th>Budget</th>
          <th>Spent</th>
          <th>Spend Left</th>
          <th>Reach</th>
          <th>Clicks</th>
          <th>Goal</th>
          <th>Added</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |campaign index|}}
        <tr>
          <td>{{addOne index}}</td>
          <td>{{campaign.name}}</td>
          <td></td>
          <td></td>
          <td>{{campaign.budget}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-medium">{{campaign.timeRemaining}}
            <div class="font-small">days hour min</div> 
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>