<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{{title}}</h5>
  </div>
  <div class="ibox-content">
  {{#if (gt model.length 1)}}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Offers</th>
            <th>Influencers</th>
            <th>Budget</th>
            <th>Spent</th>
            <th>Spend Left</th>
            <th>Reach</th>
            <th>Clicks</th>
            <th>Goal</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |campaign index|}}
          <tr>
            <td>{{addOne index}}</td>
            {{!-- <td>{{campaign.name}}</td> --}}
            {{#link-to 'clients.client.campaign' campaign tagName='td' classNames='pointer'}}
              {{campaign.name}}
            {{/link-to}}
            <td>5</td>
            <td>8</td>
            <td>${{campaign.budget}}</td>
            <td>$15000</td>
            <td>$5000</td>
            <td>1,000,000</td>
            <td>5,000</td>
            <td>67%</td>
            <td class="font-medium">{{campaign.timeRemaining}}
              <div class="font-small">days hour min</div> 
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <h5>No Campaigns Present</h5>
  {{/if}}
  </div>
</div>