<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{{title}}</h5>
  </div>
  <div class="ibox-content">
  {{#if (gt model.length 0)}}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Added</th>
            <th>Influencers</th>
            <th>Budget</th>
            <th>Spent</th>
            <th>Spend Left</th>
            <th>Reach</th>
            <th>Clicks</th>
            <th>Goal</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |offer index|}}
          <tr>
            <td>{{addOne index}}</td>
            {{#link-to 'clients.client.offer' offer tagName='td' classNames='pointer'}}
              {{offer.name}}
            {{/link-to}}
            <td>{{offer.status}}</td>
            <td>08 07 25
              <div><small>days hour min</small></div>
            </td>
            <td>5</td>
            <td>${{offer.budget}}</td>
            <td>$0</td>
            <td>$5000</td>
            <td>{{offer.reach}}</td>
            <td>5,000</td>
            <td>85%</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <h5>No Offers Present</h5>
  {{/if}}
  </div>
</div>