<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>{{title}}</h5>
  </div>
  <div class="ibox-content">
    <table class="table">
      <thead>
        <tr>
          <th></th
>          <th>Name</th>
          <th>Offers</th>
          <th>Added</th>
          {{#if showActions}}
          <th>Actions</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each model as |offer|}}
        <tr>
          <td>{{fa-icon offer.icon size=2}}</td>
          <td>{{offer.name}}
            <div>{{offer.description}}</div>
          </td>
          <td>{{offer.amount}}</td>
          <td class="font-medium">{{offer.time_remaining}}
            <div class="font-small">days hour min</div> 
          </td>
          {{#if showActions}}
          <td>{{fa-icon 'edit'}}</td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>