<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Clients</h2>
    <ol class="breadcrumb">
      <li>
        {{#link-to 'dashboard'}}Home{{/link-to}}
      </li>
      <li class="active">
        {{#link-to 'clients'}}Clients{{/link-to}}
      </li>
      <li>
        {{#link-to 'clients.client' parentModel}}{{parentModel.name}}{{/link-to}}
      </li>
      <li>
        <strong>{{model.name}}</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-3">
    <div class="title-action">
      <a class="btn btn-primary" data-toggle="modal" data-target="#addClientModal">Add Campaign</a>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form>
        <input type="text" placeholder="Search Offers " class="form-control">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{model.name}} Details</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Name</h5>
              </div>
              <div class="col-lg-6">
                {{!-- {{#if infoIsEditing}}
                  {{input class='form-control input-sm' value=model.name}}
                {{else}} --}}
                  {{model.name}}
                {{!-- {{/if}} --}}
              </div>  
            </div>
            <div class="col-lg-8">
              <div class="col-lg-2">
                <h5>Time Period</h5>
              </div>
              <div class="col-lg-10">
                {{!-- {{#if infoIsEditing}} --}}
                  {{!-- {{input class='form-control input-sm' value=model.name}} --}}
                {{!-- {{else}} --}}
                  {{moment-format model.startsAt 'LLLL'}} &nbsp;&nbsp;to&nbsp;&nbsp; {{moment-format model.endsAt 'LLLL'}}
                {{!-- {{/if}} --}}
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Campaign Budget</h5>
              </div>
              <div class="col-lg-6">
                {{!-- {{#if infoIsEditing}} --}}
                  {{!-- {{input class='form-control input-sm' value=model.name}} --}}
                {{!-- {{else}} --}}
                  {{model.budget}}
                {{!-- {{/if}} --}}
              </div>  
            </div>
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Budget Left</h5>
              </div>
              <div class="col-lg-6">

              </div>  
            </div>
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Percent Left</h5>
              </div>
              <div class="col-lg-6">

              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="col-lg-4">
                <h5>Master URL</h5>
              </div>
              <div class="col-lg-8">
                {{!-- {{#if infoIsEditing}}
                  {{input class='form-control input-sm' value=model.name}}
                {{else}} --}}
                  http://www.atari.com
                {{!-- {{/if}} --}}
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{model.name}} Offers</h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Added</th>
                  <th>Influencers</th>
                  <th>Budget</th>
                  <th>Spent</th>
                  <th>Spend Left</th>
                  <th>Reach</th>
                  <th>Clicks</th>
                  <th>Goal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}