<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>{{model.name}}</h2>
    {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true}}
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form>
        <input type="text" placeholder="Search Offers " class="form-control">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{model.name}} Details</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Name</h5>
              </div>
              <div class="col-lg-6">
                {{!-- {{#if infoIsEditing}}
                  {{input class='form-control input-sm' value=model.name}}
                {{else}} --}}
                  {{model.name}}
                {{!-- {{/if}} --}}
              </div>  
            </div>
            <div class="col-lg-8">
              <div class="col-lg-2">
                <h5>Time Period</h5>
              </div>
              <div class="col-lg-10">
                {{!-- {{#if infoIsEditing}} --}}
                  {{!-- {{input class='form-control input-sm' value=model.name}} --}}
                {{!-- {{else}} --}}
                  {{moment-format model.startsAt 'LLLL'}} &nbsp;&nbsp;to&nbsp;&nbsp; {{moment-format model.endsAt 'LLLL'}}
                {{!-- {{/if}} --}}
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Campaign Budget</h5>
              </div>
              <div class="col-lg-6">
                {{!-- {{#if infoIsEditing}} --}}
                  {{!-- {{input class='form-control input-sm' value=model.name}} --}}
                {{!-- {{else}} --}}
                  {{model.budget}}
                {{!-- {{/if}} --}}
              </div>  
            </div>
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Budget Left</h5>
              </div>
              <div class="col-lg-6">

              </div>  
            </div>
            <div class="col-lg-4">
              <div class="col-lg-6">
                <h5>Percent Left</h5>
              </div>
              <div class="col-lg-6">

              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="col-lg-4">
                <h5>Master URL</h5>
              </div>
              <div class="col-lg-8">
                {{!-- {{#if infoIsEditing}}
                  {{input class='form-control input-sm' value=model.name}}
                {{else}} --}}
                  http://www.atari.com
                {{!-- {{/if}} --}}
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{offers-table-component
        title='Offers'
        model=offers
      }}
    </div>
  </div>
</div>

{{outlet}}