<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Clients</h2>
    <ol class="breadcrumb">
      <li>
        {{#link-to 'dashboard'}}Home{{/link-to}}
      </li>
      <li class="active">
        <strong>Clients</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-3">
    <div class="title-action">
      <button type="button" class="btn btn-w-m btn-primary pull-right" data-toggle="modal" data-target="#addClientModal">Add Client<span class="right">{{fa-icon 'angle-right'}}</span></button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="btn-group" role="group">
            {{#link-to 'clients.campaigns' tagName='button' class='btn btn-w-m btn-default'}}Campaigns{{/link-to}}
            {{#link-to 'clients.offers' tagName='button' class='btn btn-w-m btn-default'}}Offers{{/link-to}}
          </div>
        </div>
          <br/><br/><br/>
        <div class="col-lg-6">
          {{top-offers-table-component 
            model=model
            title='Top Offers'
          }}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}

<div class="modal inmodal fade" id="addClientModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form role="form" {{action 'createNewClient' on='submit'}}>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h5 class="modal-title">ADD NEW CLIENT</h5>
        {{!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> --}}
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 b-r">
            <div class="form-group"><label>Client Name<span class="required"> *</span></label> 
              {{input class="form-control" value=form.clientName required="true"}}
            </div>
            <div class="form-group"><label>Street Address<span class="required"> *</span></label> 
              {{input class="form-control" value=form.streetAddress required="true"}}
            </div>
            <div class="form-group"><label>Suite/Unit<span class="required"> *</span></label> 
              {{input class="form-control" value=form.suite required="true"}}
            </div>
            <div class="form-group"><label>City<span class="required"> *</span></label> 
              {{input class="form-control" value=form.city required="true"}}
            </div>
            <div class="row">
              <div class="col-sm-6">
                {{#x-select value=selectedState action="selectState" class="form-control m-b"}}
                  {{#x-option value='im'}}State{{/x-option}}
                {{/x-select}}
              </div>
              <div class="col-sm-6">
                {{input class="form-control" value=form.zipCode placeholder='Zipcode' required="true"}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group"><label>Contact First Name<span class="required"> *</span></label> 
              {{input class="form-control" value=form.contactFirstName required="true"}}
            </div>
            <div class="form-group"><label>Contact Last Name<span class="required"> *</span></label> 
              {{input class="form-control" value=form.contactLastName required="true"}}
            </div>
            <div class="form-group"><label>Contact Email <span class="required"> *</span></label> 
              {{input type="email" value=form.contactEmail class="form-control" required="true"}}
            </div>
            <div class="form-group"><label>Contact Phone<span class="required"> *</span></label> 
              {{input class="form-control" value=form.contactPhone required="true"}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" type="submit">Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>