<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default {{if (eq activeFilter 'all') 'active'}}" {{action 'filterUsers' 'all'}}>All</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'im') 'active'}}" {{action 'filterUsers' 'im'}}>Influence Manager</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'am') 'active'}}" {{action 'filterUsers' 'am'}}>Account Manager</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'ad') 'active'}}" {{action 'filterUsers' 'ad'}}>Account Director</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'aa') 'active'}}" {{action 'filterUsers' 'aa'}}>Account Analysis</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'id') 'active'}}" {{action 'filterUsers' 'id'}}>Influence Director</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'et') 'active'}}" {{action 'filterUsers' 'et'}}>Executive Team</button>
            <button type="button" class="btn btn-default {{if (eq activeFilter 'sa') 'active'}}" {{action 'filterUsers' 'sa'}}>Super Admin</button>
          </div>
        </div>
          <br/><br/><br/>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Current Users</h5>
            </div>
            <div class="ibox-content">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Active Rev</th>
                    <th>LTE</th>
                    <th>RP</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each model.users as |user index|}}
                  <tr>
                    <td>{{addOne index}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.type}}</td>
                    <td>{{user.active_rev}}</td>
                    <td>{{user.lte}}</td>
                    <td>{{user.rp}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}


{{outlet}}
