<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="row">
        {{!-- <div class="col-lg-12 text-center">
          <div class="btn-group">
            <button type="button" class="btn {{if (eq activeFilter 'all') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'all'}}>All</button>
            <button type="button" class="btn {{if (eq activeFilter 'im') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'im'}}>Influence Manager</button>
            <button type="button" class="btn {{if (eq activeFilter 'am') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'am'}}>Account Manager</button>
            <button type="button" class="btn {{if (eq activeFilter 'ad') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'ad'}}>Account Director</button>
            <button type="button" class="btn {{if (eq activeFilter 'aa') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'aa'}}>Account Analysis</button>
            <button type="button" class="btn {{if (eq activeFilter 'id') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'id'}}>Influence Director</button>
            <button type="button" class="btn {{if (eq activeFilter 'et') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'et'}}>Executive Team</button>
            <button type="button" class="btn {{if (eq activeFilter 'sa') 'btn-primary' 'btn-white'}}" {{action 'filterUsers' 'sa'}}>Super Admin</button>
          </div>
        </div> --}}
        <div class="col-lg-3">
          {{#x-select value=activeFilter action="filterUsers" class="form-control m-b"}}
            {{#x-option value='all'}}All Users{{/x-option}}
            {{#x-option value='im'}}Influence Manager{{/x-option}}
            {{#x-option value='am'}}Account Manager{{/x-option}}
            {{#x-option value='ad'}}Account Director{{/x-option}}
            {{#x-option value='aa'}}Account Analyst{{/x-option}}
            {{#x-option value='id'}}Influence Director{{/x-option}}
            {{#x-option value='et'}}Executive Team{{/x-option}}
            {{#x-option value='sa'}}Super Admin{{/x-option}}
          {{/x-select}}
        </div>
          <br/><br/><br/>
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Current Users</h5>
              <button type="button" class="btn btn-w-m btn-primary pull-right" data-toggle="modal" data-target="#addUserModal">Add User<span class="right">{{fa-icon 'angle-right'}}</span></button>
            </div>
            <div class="ibox-content">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="6%">#</th>
                    <th width="12%">Name</th>
                    <th width="12%">Action</th>
                    <th width="10%">Designation</th>
                    <th width="15%">Info</th>
                    <th width="15%">Active Rev</th>
                    <th width="15%">LTE</th>
                    <th width="15%">RP</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each model as |user index|}}
                  <tr>
                    <td>{{addOne index}}</td>
                    <td>{{user.fullname}}</td>
                    <td>
                      {{#x-select value=user.status action="updateStatus" class="form-control m-b"}}
                        {{#x-option value='active'}}Active{{/x-option}}
                        {{#x-option value='suspend'}}Suspend{{/x-option}}
                        {{#x-option value='deactive'}}Deactive{{/x-option}}
                      {{/x-select}}
                    </td>
                    <td>
                      {{#x-select value=user.userAccess action="updateUserAccess" class="form-control m-b"}}
                        {{#x-option value='IM'}}IM{{/x-option}}
                        {{#x-option value='AM'}}AM{{/x-option}}
                        {{#x-option value='AA'}}AA{{/x-option}}
                        {{#x-option value='AD'}}AD{{/x-option}}
                        {{#x-option value='ET'}}ET{{/x-option}}
                        {{#x-option value='SA'}}SA{{/x-option}}
                      {{/x-select}}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}


<div id="addUserModal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="m-t-none m-b">ADD NEW USER </h3>
            <p>Create new user for Statas</p>
            <form role="form" {{action 'createNewUser' on='submit'}}>
              <div class="form-group"><label>First Name<span class="required"> *</span></label> 
                {{input class="form-control" value=form.firstName  required="true"}}
              </div>
              <div class="form-group"><label>Last Name <span class="required"> *</span></label> 
                {{input class="form-control" value=form.lastName  required="true"}}
              </div>
              <div class="form-group"><label>User Access <span class="required"> *</span></label> 
                {{#x-select value=selectedUserAccess action="selectUserAccess" class="form-control m-b"}}
                  <option value="" disabled="true" selected="true">Select Access</option>
                  {{#x-option value='IM'}}Influence Manager{{/x-option}}
                  {{#x-option value='AM'}}Account Manager{{/x-option}}
                  {{#x-option value='AA'}}Account Analysis{{/x-option}}
                  {{#x-option value='AD'}}Account Director{{/x-option}}
                  {{#x-option value='ET'}}Exclusive Team{{/x-option}}
                  {{#x-option value='SA'}}Super Admin{{/x-option}}
                {{/x-select}}
              </div>
              <div class="form-group"><label>Team</label> 
                {{#x-select value=selectedTeam action="selectTeam" class="form-control m-b"}}
                  <option value="" disabled="true" selected="true">Select Team</option>
                  {{#x-option value='AD'}}Account Director{{/x-option}}
                  {{#x-option value='ID'}}Influence Director{{/x-option}}
                {{/x-select}}
              </div>
              <div class="form-group"><label>Email <span class="required"> *</span></label> 
                {{input type="email" value=form.email class="form-control" required="true"}}
              </div>
              <div>
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Create User</strong></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>